body{
    margin: 0;
    background-color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100dvh;
}

#delete{
    background-color: red;
}

#formulario{
    background-color:rgb(156, 156, 156) ;
    border-radius: 10px;
    padding: 20px 50px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

input{
    display: flex;
    border-radius: 10px;
    border: 2px solid rgb(75, 73, 73);
}

#login{
    color: blue;
    margin-bottom: 30px;

}

#cadastro{
    height: 25px;
    width: 150px;
    border-radius: 10px;
    border: 3px solid rgb(206, 195, 195);
    display: flex;
    justify-content: center;
    margin-left: 12px;
    margin-top: 19px;
}

*{
    font-family: arial;
}

#retorno{
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#retorno> div{
    padding: 0px;
    border-radius: 5px;
}

#verde{
    background-color: rgb(55, 136, 55);
}

#vermelho{
    background-color: rgb(158, 49, 49);
}