.menu{
    background-color: rgb(5, 96, 200);
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px;
    gap: 20px;
}

.menu img{
    height: 50px;
}

.menu input{
    border-radius: 10px;
}

.palavras{
    margin: 20px;
}

.menusinho{
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}

.menusinho input{
    width: 100%;
    padding: 13px;
}

.menusinho div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menusinho a{
    color: white;
    text-decoration: none;
}

.dropdown{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdown > div{
    display: none;
    text-decoration: none;     
    position: absolute;
    margin-top: 120px;
    background-color: blue;
    border-radius:2px ;
}

.dropdown i{
    display: none;
    background-color: brown;
    height: 30px;  
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.dropdown:hover > div{
    display: flex;
    flex-direction: column;
}

.dropdown > div > a:hover{
    color: white;
    background-color: brown;
    width: 54px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown > div > a{
    padding: 4px 8px;
    color: white;
    text-decoration: none;
}

.coisa a{
    display: flex;
}

#pesquisa{
    width: 100%;
    gap: 5;
}

body{
    background-color: gray;
    margin: 0;
}

.corpo{
    display: flex; 
    color: brown;
    justify-content:center;
}

.separar{
    display: flex;
    margin-top: 5%;
}

.separar > div{
    display: flex;
    flex-direction: column;
}

.resumo{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    border: 1px double black;
    font-size: 17px;
    width: 80%;
}

.resumo b{
    font-size: 20px;
}

.resuminho{
    display: flex;
    color: black;
}

.resuminho tr{
    display: flex;
    gap: 40px;
}

.geitos{
    display: flex;
    flex-direction: column;
    color: black;
}

.pai{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.venda{
    color: white;
    background-color: brown;
    gap: 10px;
    padding-top: 10px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.venda a{
    color: white;
    text-decoration: none;
}

.cesta{
    width: 900%;
    margin-right:50px ;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px double black;
}

.cima{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10%;
    margin-bottom:10px ;
    color: black;
}

.cima label{
    display: flex;
    margin-right: 35%;
}

.baixo{
    border: 1px double black;
    color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;    
}

.baixo div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.baixo img{
    width:150px;
    height:150px;
    border-radius: 10px;
}

.baixo input{
    width: 35px;
}

@media(max-width:600px){
    .menu img{
        height: 35px;
        display: flex;
        justify-content: center;
    }
    
    .coisa a{
        display: none;
    }

    .menusinho i{
        display: none;
    }

    .dropdown > i{
        display: flex;  
    }

    .menusinho{
        gap: 0;
        justify-content: space-around;
    }

    .menusinho input{
        height: 2px;
    }

    #pesquisa{
        display: flex;
        gap: 5px;
        margin-right: 10px;
        width: 70%;
    }

    .separar{
        flex-direction: column;
    }

    .cesta{
        width: 90%;
    }

    .baixo{
        flex-direction: column;
        width: 90%;
    }

    .cima{
        flex-direction: column;
    }
}