.menu{
    background-color: rgb(5, 96, 200);
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 40px;
    gap: 10px;
}

.menu input{
    border-radius: 10px;
}

.menusinho{
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}

.menusinho input{
    width: 100%;
    padding: 13px;
}

.menusinho div{
    display: flex;
    align-items: center;
    gap: 5px;
}

#pesquisa{
    width: 100%;
}

body{
    margin: 0;
    background-color: gray;
}

.corpo{
    display: flex; 
    color: brown;
    justify-content:center;
    flex-direction: column;
}

.separar{
    border-radius: 10px;
    gap: 15px;
    padding: 20px;
    display: flex;
    justify-content: center;
    border: 1px double black;
}

.compra{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    margin-left:10px ;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px double black;
  
}

.principal{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.principal td img{
    height: 100px;
    width: 100px;
}

.principal th img{
    height: 500px;
    width: 500px;
}

.produto{
    background-color: white;
    width: 95%;
    height: 490px;
    display: flex;
    flex-direction:column;
    margin-left: 25px;
    border-radius: 10px;
    padding: 5px;
    border: 1px double black;
}

.tabela td{
    border: 2px solid rgb(158, 157, 157);
    color: black;
}

.tabela{
    padding-bottom: 240px;
}

.separar div{
    display: flex;
    flex-direction: column;
}

.info{
    background-color: white;
    width: 95%;
    height: 300px;
    display: flex;
    flex-direction:column;
    padding: 5px;
    margin-left: 25px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px double black;
}