.menu{
    background-color: rgb(5, 96, 200);
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px;
    gap: 20px;
}

.menu img{
    height: 50px;
}

.menu input{
    border-radius: 10px;
}

.palavras{
    margin: 20px;
}

.menusinho{
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}

.menusinho input{
    width: 100%;
    padding: 13px;
}

.menusinho div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menusinho a{
    color: white;
    text-decoration: none;
}

.dropdown{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdown > div{
    display: none;
    text-decoration: none;     
    position: absolute;
    margin-top: 120px;
    background-color: blue;
    border-radius:2px ;
}

.dropdown i{
    display: none;
    background-color: brown;
    height: 30px;  
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.dropdown:hover > div{
    display: flex;
    flex-direction: column;
}

.dropdown > div > a:hover{
    color: white;
    background-color: brown;
    width: 54px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown > div > a{
    padding: 4px 8px;
    color: white;
    text-decoration: none;
}

.coisa a{
    display: flex;
}

#pesquisa{
    width: 100%;
    gap: 5px;
}
body{
    margin: 0;
    background-color: gray;
}

.corpo{
    display: flex; 
    align-items: center;
    color: brown;
    justify-content:center;
    flex-direction: column;
}

.separar{
    border-radius: 10px;
    padding: 0 30px 15px 25px;
    display: flex;
    justify-content: space-between;
    margin-top: 2%;
}

.separar > div{
    display: flex;
    flex-direction: column;
}

.compra{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    display: flex;
    border: 1px double black;
    color: black;
    flex-direction: column;
}
 
.valor{
    display: flex;
    flex-direction: column;
    padding:50px 20px;
    font-size: 20px;
    height: 100px;
    gap: 7px;
}

.numero{
    font-size: 30px;
}

.frete{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    gap: 10px;
}

.pai{
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.venda{
    color: white;
    background-color: brown;
    gap: 10px;
    padding-top: 10px;
    height: 30px;
    width: 200px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}

.venda a{
    color: white;
    text-decoration: none;
}

.img{
    background-color: white;
    border-radius: 10px;
    border: 1px double black;
    width: 70%;
}

.img h2{
    margin-left: 10px;
}

.principal{
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 10px;
    margin-right: 100px;
    width: 95%;
}

.principal td img{
    height: 150px;
    width: 150px;
}

.principal th img{
    height: 700px;
    width: 700px;
}

.produto{
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction:column;
    border-radius: 10px;
    padding: 5px;
    border: 1px double black;
}

.tabela td{
    border: 2px solid rgb(158, 157, 157);
    color: black;
}

.info{
    background-color: white;
    width: 95%;
    display: flex;
    flex-direction:column;
    padding: 5px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px double black;
    color: black;
}
.info h2{
    color: brown;
}

@media(max-width:600px){

    .separar{
        display: flex;
        flex-direction: column;
    }

    .img{
        display: flex;
        height: 90%;
        width: 90%;
    }

    .principal{
        padding: 10px;
    }

    .principal td img{
        width:60px;
        height:60px;
    }

    .principal th img{
        width:250px;
        height:250px;
    }

    .menu img{
        height: 35px;
        display: flex;
        justify-content: center;
    }

    .coisa a{
        display: none;
    }

    .menusinho i{
        display: none;
    }

    .dropdown > i{
        display: flex;  
    }

    .menusinho{
        gap: 0;
        justify-content: space-around;
    }

    .menusinho input{
        height: 2px;
    }

    #pesquisa{
        display: flex;
        gap: 5px;
        margin-right: 10px;
        width: 70%;
    }

    .info{
        width: 90%;
    }

    .produto{
        width: 90%;
    }

    .compra{
        width: 90%;
        margin-top:10px ;
        padding-bottom: 10px;
    }
}
