.menu{
    background-color: rgb(5, 96, 200);
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 40px;
    gap: 10px;
}

.menu input{
    border-radius: 10px;
}

.menusinho{
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}

.menusinho input{
    width: 100%;
    padding: 13px;
}

.menusinho div{
    display: flex;
    align-items: center;
    gap: 5px;
}

#pesquisa{
    width: 100%;
}

body{
    margin: 0;
    background-color: gray;
}

.corpo{
    display: flex; 
    color: brown;
    justify-content:center;
    flex-direction: column;
}

.separar{
    background-color: white;
    border-radius: 10px;
    gap: 380px;
    width: 85%;
    height: 50%;
    display: flex;
    margin: 10px;
    border: 2px solid green;
}

.compra{
    background-color: white;
    border-radius: 10px;
    padding-left: 10px;
    margin-left:10px ;
    width: 300px;
    height: 500px;
    display: flex;
    justify-content: center;
    border: 2px solid blueviolet;
  
}
.produto{
    background-color: white;
    width: 90%;
    height: 410px;
    display: flex;
    flex-direction:column;
    margin-left: 17px;
    border-radius: 10px;
    padding: 5px;
}

.principal{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    width: 800px;
}
.tabela td{
    border: 2px solid black;
    color: grey;
}
.tabela{
    padding-bottom: 240px;
}
.separar div{
    display: flex;
    flex-direction: column;
}

.info{
    background-color: white;
    width: 90%;
    height: 300px;
    display: flex;
    flex-direction:column;
    padding: 5px;
    margin-left: 17px;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}