.menu{
    background-color: rgb(5, 96, 200);
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px;
    gap: 20px;
}

.menu img{
    height: 50px;
}

.menu input{
    border-radius: 10px;
}

.palavras{
    margin: 20px;
}
.menusinho{
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}
.menusinho input{
    width: 100%;
    padding: 13px;
}
.menusinho div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.menusinho label{
    display: none;
}

#pesquisa{
    width: 100%;
    gap: 0;
}

body{
    margin: 0;
    background-color: gray;
}

.certo{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    margin-top: 100px;
    margin-left: 400px;
    width: 500px;
    padding-top:10px;
}

.conferi{
    background-color: green;
    color: white;
    border-radius: 1000px;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 130px;
}

.texto{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    font-size: 20px;
}

.certinho{
    font-size: 30px;
}

@media(max-width:600px){
    .menu img{
        height: 35px;
        display: flex;
        justify-content: center;
    }
    
    .menusinho div{
        display: none;
    }

    .menusinho label{
        display: flex;
        color: white;
    }
    .menusinho{
        gap: 0;
        justify-content: space-around;
    }

    .menusinho input{
        height: 2px;
    }

    #pesquisa{
        display: flex;
        gap: 5px;
        margin-right: 10px;
        width: 70%;
    }
}