.menu{
    background-color: rgb(5, 96, 200);
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px;
    gap: 20px;
}

.menu img{
    height: 50px;
}

.menu input{
    border-radius: 10px;
}

.palavras{
    margin: 20px;
}

.menusinho{
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}

.menusinho input{
    width: 100%;
    padding: 13px;
}

.menusinho div{
    display: flex;
    align-items: center;
    gap: 10px;
}

.menusinho a{
    color: white;
    text-decoration: none;
}

.dropdown{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dropdown > div{
    display: none;
    text-decoration: none;     
    position: absolute;
    margin-top: 120px;
    background-color: blue;
    border-radius:2px ;
}

.dropdown i{
    display: none;
    background-color: brown;
    height: 30px;  
    width: 30px;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.dropdown:hover > div{
    display: flex;
    flex-direction: column;
}

.dropdown > div > a:hover{
    color: white;
    background-color: brown;
    width: 54px;
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown > div > a{
    padding: 4px 8px;
    color: white;
    text-decoration: none;
}

.coisa a{
    display: flex;
}

#pesquisa{
    width: 100%;
    gap: 5px;
}

body{
    margin: 0;
    background-color: gray;
}

.sobre{
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top:130px ;
    height: 180px;
    width: 800px;
    margin-left:250px;
    padding: 20px;
}

.sobre h3{
    color: brown;
}

@media(max-width:600px){
    .menu img{
        height: 35px;
        display: flex;
        justify-content: center;
    }
    
    .coisa a{
        display: none;
    }

    .menusinho i{
        display: none;
    }

    .dropdown > i{
        display: flex;  
    }

    .menusinho{
        gap: 0;
        justify-content: space-around;
    }

    .menusinho input{
        height: 2px;
    }

    #pesquisa{
        display: flex;
        gap: 5px;
        margin-right: 10px;
        width: 70%;
    }

    .sobre{
        margin-left: 30px;
        width: 410px;
        height: 300px;
        margin-top: 30px;
    }
}