.menu{
    background-color: rgb(5, 96, 200);
    align-items: center;
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 30px;
    gap: 20px;
}

.menu img{
    height: 50px;
}

.menu input{
    border-radius: 10px;
}

.palavras{
    margin: 20px;
}
.menusinho{
    align-items: center;
    display: flex;
    gap: 20px;
    width: 100%;
}
.menusinho input{
    width: 100%;
    padding: 13px;
}
.menusinho div{
    display: flex;
    align-items: center;
    gap: 5px;
}

.menusinho label{
    display: none;
}

#pesquisa{
    width: 100%;
    gap: 0;
}

body{
    margin: 0;
    background-color: gray;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 15px;
}

.corpo{
    display: flex;
    margin: 0px 140px;
    justify-content:right;
}

.main{
    background-color: yellow;
    width: 100%;
}
.navbar label{
    display: none;
}

.cards{
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}

.card{
    text-decoration: none;
    display: flex;
    flex-direction: column;
    width: 210px;
    overflow: hidden;
    gap: 40px;
    font-size: 15px;
    border: 1px double black;
    padding: 10px;
    background-color: white;
}
 .texto{
    text-align:left;
}
.card img{
    height: 210px;
    width: 210px;
}

.card label{
    height: 195px;
    display: flex;
    align-items: center;
    font-family: system-ui;
    color: black;
    gap: 15px;
    flex-direction: column; 
}

@media(max-width:600px){
    .menu img{
        height: 35px;
        display: flex;
        justify-content: center;
    }
    
    .menusinho div{
        display: none;
    }

    .menusinho label{
        display: flex;
        color: white;
    }
    .menusinho{
        gap: 0;
        justify-content: space-around;
    }

    .menusinho input{
        height: 2px;
    }

    #pesquisa{
        display: flex;
        gap: 5px;
        margin-right: 10px;
        width: 70%;
    }
}