body{
    margin:0;
}
.menu{
    background-color: darkslategrey;
    height:100px ;
    width: 100%;
    justify-content: space-around;
    align-items:center ;
    display: flex;
    color: aquamarine;
    font-family:Arial, Helvetica, sans-serif;
    padding: 0 50px;
}

.suruba{ 
    background-color:mediumseagreen ;
    margin: 0;
    width: 20%;
    height:calc(100vh - 100px) ;
    display: flex;
    justify-content: center;
    align-items:self-start ;
    font-size:25px ;
    color: white;
    padding: 10px 10px 10px 10px;
}
.flex{
    color: darkslategrey;
}